@import "bootstrap";
/* add site style here */

$white:	#fff;


// custom


body {
  background: $body-bg;
}


// utility classes

.nav-space {
	margin-bottom: 6rem;
}


// Start nav

.main-menu {
  background: $brand-primary;
  padding: 1rem 2rem;

  &.light {
    background: #fff;
  }
}


.logo-wrapper {
  display: inline-block;
  padding-right: 2rem;
  // margin-right: 2rem;
  // border-right: 1px solid rgba($mediumgray-dark, 0.5);
  img {
    display: inline-block;
  }
}

.sub-menu {
  background: $white;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid $gray-light;
  margin-bottom: 0;

  &.light {
    background: $brand-primary;
    border-bottom-color: $gray-light;
  }

  &.level-2 {
    background: $gray-lighter;
    border-bottom-color: $gray-light;
  }
}

.page-content {
  padding: 3rem 2rem;
}


.user-panel {
  // font-size: 2em;
  // color: darken($brand-primary, 3%);
  // border: 2px solid $mediumgray-dark;
  // border-radius: 100px;
}

// .dropdown-hover:hover + .dropdown-menu {
//     display: block;
// }


// end nav






.rounded {
  border-radius: 100px;
}





.btn-circle {
  width: 22px;
  height: 22px;
  text-align: center;
  padding: 2px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}


// Search result panel

.search-result.panel .main-img {
  border-radius: 4px; // need to use: $panel-border-radius;
}

.search-img-wrapper {
  border-radius: 4px 4px 0 0; // need to use: $panel-border-radius;
  height: 200px;
  background: no-repeat center center;
  background-size: cover;
  img {display: none} // hide the actual image for browsers that can see the background image
}


.img-status-wrapper {
  position: relative;
  .status-panel {
    position: absolute;
    bottom:10px;
    left: 0;
  }
  .status-button {
    display: inline-block;
    font-size: 1.6rem;
    padding: 4px 12px;
    background: rgba($brand-primary,0.8);
    color: $gray-lighter;
    &.success {
      color: $white;
      background-color: rgba($brand-success, 0.8);
    }
  }

}



.text-primary {
  color: $brand-primary;
}

.text-info {
  color: $brand-info;
}


.location {
  color: $gray;
  font-size: 10px;
  // text-align: right;
  // text-transform: uppercase;
}

// END: Search result panel




